/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colors blue: #5f92a4 red: #C20114 nav and footer background: #5f92a440*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar */
nav {
  /* border: 1px solid #5f92a4;
  width: 100%;
  height: 64px;
  background: #5f92a440;
  display: flex;
  justify-content: flex-end;
  align-items: center; */
  width: 100%;
  list-style-type: none;
  margin: 2px;
  overflow: hidden;
  margin-left: 0;
  /* background: #5f92a440; */
  top: 0;
  display: flex;
  align-items: center;
}

nav .logo {
  width: 50%;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-links li a:hover {
  color: #c20114;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

/* footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5f92a440;
  color: black;
  text-align: center;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact a:hover {
  color: #c20114;
}

.who {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 50px;
}

.page-title {
  width: 100%;
  text-align: center;
  background-color: #5f92a440;
}

.who video {
  width: 75%;
}

.who intro-text {
  width: 100%;
  align-items: center;
}

.what {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  position: relative;
  margin: 50px;
}

.what img {
  margin: 0 auto;
}

.what .van-image,
.car-image,
.bike-image,
.vip-image {
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}
/* .what .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  opacity: 0;
  transition: opacity 0.25s;
}

.what .img-hover:hover {
  opacity: 1;
}

.what .img-hover p {
  margin: 0 auto;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */

.fleet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fleet .vans,
.cars,
.bikes,
.vips {
  margin: 0 auto;
}

.fleet img {
  margin: 0 auto;
}

main .contact-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.info {
  margin-left: 5%;
}

main .map {
  margin-left: 10%;
}

.contact-form,
.fee-form,
.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  display: block;
}

.btn {
  border-radius: 3px;
  padding: 5px;
  background: #5f92a440;
  box-shadow: none;
  border-color: #5f92a440;
  margin: 10px;
  /* width: 100%; */
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  border-color: #c2011440;
  color: #c20114;
}

textarea {
  resize: none;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.workforce {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.workforce div {
  text-align: center;
  margin: 0 auto;
}

/* mobile view */
@media screen and (max-width: 780px) {
  .nav-links ul {
    width: 100%;
    float: left;
  }

  .nav-links li a:hover {
    border: 1px solid black;
  }

  .nav-links li {
    width: 100%;
    position: relative;
  }

  .nav-links li a {
    display: block;
    padding: 8px 16px;
  }

  nav .logo {
    width: 100%;
  }

  footer {
    grid-template-columns: 1fr;
    position: relative;
  }

  .who {
    grid-template-columns: 1fr;
  }

  .who video {
    width: 100%;
  }

  .what {
    grid-template-columns: 1fr;
  }

  .fleet {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-us {
    grid-template-columns: 1fr;
  }

  .workforce {
    grid-template-columns: 1fr;
  }
}

/* tablet view */
@media screen and (max-width: 1100px) and (min-width: 780px) {
  footer {
    grid-template-columns: 1fr;
    position: relative;
  }

  .who {
    grid-template-columns: 1fr;
  }

  .who video {
    width: 100%;
  }

  .what {
    grid-template-columns: 1fr;
  }

  .fleet {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us {
    grid-template-columns: 1fr;
  }

  .workforce {
    grid-template-columns: 1fr;
  }
}
